<!--
/project/{projectId}

i   - ProjectDTO
    - List<String> Student Names
    - List<String> Faculty Names
    - List<MessageDTO> Messages

o   - String (needs to be validated - not blank)

ProjectService
    boolean isProjectPresent(Integer projectId);
    List<String> getStudentNames(Integer projectId);
    List<String> getFacultyNames(Integer projectId);

    boolean deleteProject(Integer projectId);

    boolean isAccountInProject(String username, Integer projectId);

MessageService
    List<MessageDTO> getMessages(Integer projectId);
    boolean addMessage(String username, Integer projectID, String content);
-->
<!--
Display -
    (project ID needs to be included)
    String Title
    Date Start Date
    Date End Date (if not empty)
    enum Status Status

    List<String> Student Names
    List<String> Faculty Names

(if not guest)

    For Each Message (order by timestamp asc):
        String Name
        String Content
        String Timestamp

Form Input -
    String Content (needs to be validated)

    Button -
        Send - POST /project/{projectId}/addMessage
               REDIRECT /project/{projectId}

Button -
    Update Project - GET /project/{projectId}/update
    Delete Project - GET /project/{projectId}/delete

Links -
    Projects Dashboard - GET /projects
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>
<body>
<div>
    <div>
        <div>
            <h1>Project Details:</h1>
        </div>
        <div>
            <div th:text="${projectDTO.title}"/>
            <div th:text="${#dates.format(projectDTO.startDate, 'dd-MM-YYYY')}"/>
            <div th:text="${projectDTO.endDate != null ? #dates.format(projectDTO.endDate, 'dd-MM-YYYY') : 'N/A'}"/>
            <div th:text="${projectDTO.status}"/>
        </div>
    </div>
    <div>
        <div>
            <h1>Student Names:</h1>
        </div>
        <div th:each="name : ${studentNames.usernames}">
            <div th:text="${name}"/>
        </div>
    </div>
    <div>
        <div>
            <h1>Faculty Names:</h1>
        </div>
        <div th:each="name : ${facultyNames.usernames}">
            <div th:text="${name}"/>
        </div>
    </div>

    <div th:if="${!isGuest}">
        <div>
            <h1>Messages:</h1>
        </div>
        <div th:if="${messages.size() == 0}">No Messages to Display!</div>
        <div th:each="message : ${messages}">
            <div th:text="${message.name}"/>
            <div th:text="${#dates.format(message.timestamp, 'dd-MM-YYYY HH:mm')}"/>
            <div th:text="${message.content}"/>
            <br>
        </div>
        <form th:action="@{/project/{projectId}/addMessage(projectId=${projectDTO.id})}" method="post">
            <div>
                <label for="content">Content:</label>
                <input type="text" id="content" name="content" required>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
    <div>
        <div th:if="${!isGuest}">
            <a th:href="@{/project/{projectId}/update(projectId=${projectDTO.id})}">Update Project</a>
            <br/>
            <a th:href="@{/project/{projectId}/delete(projectId=${projectDTO.id})}">Delete Project</a>
        </div>
        <a th:href="@{/projects}">Go Back</a>
    </div>
</div>
</body>
</html>
